name: Check Formatting

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  check_formatting:
    runs-on: [ "ubuntu-latest" ]

    steps:
      - uses: actions/checkout@v6
      - name: Check Formatting
        run: |
          dotnet tool restore
          dotnet csharpier check .
